<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sex Predator Detector API</title>
    </head>
    <body>
        <h1>Sexual Predator Detector API</h1>
        <p>Hi! This API can take in chat data and determine if a sexual predator is in the chat. It will also tell you who the sexual predator is</p>
        <h3>Try it out by sending a post request to the path <span>/api/v1/detect</span></h3>
        <h4>Follow the below format for the request body:</h4>
        <p>{
            "conversation_id": 
        }</p>
    </body>
</html>